html {
    font-size: 62.5%;
}
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

button:disabled {
    cursor: default;
}
h1 {
    font-size: 2.2rem;
}